[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
faiss-cpu = "*"
langchain-community = "*"
langchainhub = "*"
pypdf = "*"
python-dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
websockets = "*"
opencv-python = "*"
scikit-image = "*"
streamlit = "*"
streamlit-pdf-viewer = "*"
pydantic-settings = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.11"
