langchain 
langchain-openai 
faiss-cpu 
langchain-community 
langchainhub 
pypdf 
python-dotenv 
fastapi
websockets 
opencv-python 
scikit-image 
streamlit 
streamlit-pdf-viewer 
pydantic-settings 
tiktoken